@import "../../../shared/css/colors";

.invite-container {
    .form-container {
        mat-form-field {
            width: 100%;
        }
    }

    mat-dialog-actions button {
        width: 100%;
    }

    .mat-dialog-title {
        margin-bottom: 30px;
        text-align: center;
    }

    .error-message {
        display: flex;
        justify-self: center;
        height: 30px;
        margin-top: 20px;
        width: 100%;

        span {
            color: $color-red;
            font-weight: 600;
            margin: auto;
        }
    }
}

.all-done-container {
    mat-dialog-content {
        text-align: center;
        margin: 15px 0 15px 0;
    }

    mat-dialog-actions {
        margin-bottom: 2px;
    }
}