@import "../../../shared/css/colors";

.bottom-bar-container {
  align-items: center;
  background: $color-light-blue;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 55px;
  position: fixed;
  width: 100%;

  p {
    color: $color-white;
    font-size: 10px;
    font-style: italic;
    line-height: 0;
  }

  mat-icon {
    font-size: 8px;
    height: 8px;
    margin-right: 2px;
    margin-left: 2px;
    width: 8px;
  }
}