@import "../../../shared/css/responsive_mixins";
@import "../../../shared/css/colors";

.main-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 100%;

    h1 {
        font-weight: 500;
        font-size: 60px;
        padding-left: 15px;
        padding-bottom: 15px;

        @include for-screen(sm, '<=') {
            font-size: 30px;
            padding-left: 0;
            padding-bottom: 0;
        }
    }

    button {
        background: $color-black;
        border: none;
        color: $color-white;
        cursor: pointer;
        font-weight: 700;
        margin-top: 20px;
        padding: 16px;
        text-transform: uppercase;
        width: 200px;
    }
}